<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FontAwesome.Sharp" version="5.15.3" targetFramework="net472" />
  <package id="Sharpnado.MaterialFrame" version="1.1.1" targetFramework="net472" />
  <package id="Sharpnado.Presentation.Forms" version="1.7.1" targetFramework="net472" />
  <package id="Sharpnado.Shadows" version="1.1.0" targetFramework="net472" />
  <package id="Sharpnado.TaskLoaderView" version="2.0.1" targetFramework="net472" />
  <package id="Sharpnado.TaskMonitor" version="1.0.0" targetFramework="net472" />
  <package id="Xamarin.Forms" version="3.6.0.220655" targetFramework="net472" />
</packages>